h1 {
	color: black;
	background: white ;
	/*text-align: center;*/
	font-family: Open Sans;
	border: 5px solid black;
}

h2 {
	color: white;
	/*light blue*/
	background: #3498DB;
	font-family: Open Sans;
}

h3 {
	color: black;
	background: white;
	font-family: Open Sans;
}
	
body {
	background: white;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: Open Sans;
}

p {
	background: white;
}

img {
	transform: rotate(10deg);
	max-width: 200px;
	max-height: 200px;
	background: white
}