h1 {
	color: orange;
	background: blue;
	text-align: center;
	font-family: Lucida Console;
	border: 5px solid orange;
}

h2 {
	color: white;
	/*light blue*/
	background: #3498DB;
}

h3 {
	color: black;
	background: white;
}
	
body {
	background: black;
	background-repeat: no-repeat;
	background-size: cover;
}

p {
	background: white;
}

img {
	transform: rotate(10deg);
	max-width: 200px;
	max-height: 200px;
	background: white
}