//Site Colors
//Colors w/ color theory from https://www.canva.com/colors/color-wheel/

// Principal Site Color
$color-main: #853ed4;
// Subtle main color
$color-main-subtle: #6C29B6;
// Accent color 1 (analogous)
$color-accent-1:  #D03ED4;
// Accent color 2 (analogous)
$color-accent-2: #3E42D4;

// Background color (dark)
$color-background-dark: #151515;
// Subtle background color (dark)
$color-subtle-background-dark: #2F2F2F;

// Background color (light)
$color-background-light: white;

// Custom Title Color
$color-title: white;
// Custom Subtitle Color
$color-subtitle-gray: #B4A5A5
