body {
    // Default Background
    background-color: $color-subtle-background-dark;
    // Default Text Color
    color: $color-title;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;

}



/* SMALL SCREEN */
@media only screen and (max-width: 991px) {}

/* BIG SCREEN */
@media only screen and (min-width: 992px) {}

// Actual content of the page stretches to push header and footer into respective places
#page-content {
    flex: 1;
    padding: 20px;
}