/* SMALL SCREEN */
@media only screen and (max-width: 991px) {

  /* CSS that should be displayed if width is equal to or less than 991px and larger 
   than 768px goes here */
  body {
    margin: 0;
  }

  .navbar {
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: #151515;
    overflow: hidden;
  }

  .site-title {
    display: inline-block;
  }

  .site-subtitle {
    display: inline-block;
  }

  .nav-button,
  .nav-active {
    display: inline-block;
  }

  .socials {
    max-width: 50%;
  }
}

/* BIG SCREEN */
@media only screen and (min-width: 992px) {

  /* CSS that should be displayed if width is equal to or greater than 991px goes here */
  body {
    padding-left: 12rem;
    padding-right: 2rem;
  }

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 10px;
    width: 10rem;
    background-color: $color-background-dark;
    overflow: hidden;
  }

  .site-title {
    display: block;
  }

  .site-subtitle {
    display: block;
  }

  .nav-button,
  .nav-active {
    display: block;

  }
}

.site-title {
  font-size: 2.8rem;
  font-weight: 100%;
  color: $color-main;
}

.site-subtitle {
  font-size: 1.5rem;
  color: $color-subtitle-gray;
  margin-bottom: 10px;
}

.nav-button,
.nav-active {
  font-size: 0.8rem;
  text-align: center;
  border-radius: 2px;

  margin-bottom: 10px;
  padding: 10px;
  color: $color-title;
  text-decoration: none;

  border-style: none;
  border-radius: 1rem;
  transition: opacity 0.15s;
}

.nav-button {
  background-color: $color-main-subtle;
}

.nav-active {
  background-color: $color-accent-2;
}

.nav-button:hover,
.nav-active:hover {
  opacity: 0.5;
  cursor: pointer;
}

.main-content {
  padding: 10px;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.social svg {
  stroke-width: 1.5;
  color: $color-subtitle-gray;
  transition: color 0.15s;
}

.social svg:hover {
  color: $color-accent-1;
}