.downloads-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  row-gap: 20px;
  column-gap: 20px;

}

.program img {
  width: 100%;
}

.program {
  text-align: center;
}

.program p {
  text-align: left;
}