---
import Layout from "../layouts/Layout.astro";
import BusinessCard  from "../components/BusinessCard.astro";
---

<Layout title="Lane Nickson">
		<div id="aboutPage" class="md:w-4/5 sm:w-full bg-light p-5 rounded-sm">
			<h1 class="text-2xl">About Me</h1>
			<p>
				Hello! I'm Lane, a B.S. computer science graduate currently working in the private sector. I'll be posting my personal projects on this site. Feel free to check back on the pages here
				for future updates on projects!
			</p>
		</div>
</Layout>


