---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Lane Nickson">
	<main class="min-h-screen">
		<div id="container" class="flex justify-center items-center min-h-screen">
			<div id="business-card" class="aspect-video max-w-96 bg-white rounded-sm flex justify-center items-center hover:shadow-lg hover:scale-125 duration-75">
				<img
					class="w-5/6"
					src="images/signature_transparent.png"
					alt="Signature of Lane Nickson"
				/>
			</div>
		</div>
	</main>
</Layout>
