---

---
<div
class="flip-card md:w-1/4 w-full aspect-video scale-75 hover:scale-100 duration-1000"
>
<div class="flip-card-inner bg-light rounded-sm">
  <div class="flip-card-front flex justify-center items-center">
    <img
      class="w-5/6"
      src="images/signature_transparent.png"
      alt="Signature of Lane Nickson"
    />
  </div>
  <div class="flip-card-back bg-light rounded-sm p-3">
    <h1 class="text-2xl"><a href="/">Lane Nickson</a></h1>
    <p class="italic">B.S. Computer Science</p>
    <hr class="border-2 border-yellow" />
    <ul>
      <li><p>me@lanenickson.us</p></li>
      <li><a class="text-purple" href="/about">About Me</a></li>
      <li><a class="text-purple" href="https://www.linkedin.com/in/lane-nickson-a29068146/">Resume</a></li>
      <li><a class="text-purple" href="https://github.com/LaneDNickson">GitHub</a></li>
    </ul>
  </div>
</div>
</div>

<style>
	/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
	.flip-card {
		background-color: transparent;
		/* width: 300px;
		height: 200px; */
		perspective: 1000px; /* Remove this if you don't want the 3D effect */
	}

	/* This container is needed to position the front and back side */
	.flip-card-inner {
		position: relative;
		width: 100%;
		height: 100%;
		transition: transform 0.8s;
		transform-style: preserve-3d;
	}

	/* Do an horizontal flip when you move the mouse over the flip box container */
	.flip-card:hover .flip-card-inner {
		transform: rotateY(180deg);
	}

	/* Position the front and back side */
	.flip-card-front,
	.flip-card-back {
		position: absolute;
		width: 100%;
		height: 100%;
		-webkit-backface-visibility: hidden; /* Safari */
		backface-visibility: hidden;
	}

	/* Style the back side */
	.flip-card-back {
		transform: rotateY(180deg);
	}
</style>